.container {
    padding-top: 10px;
    padding-bottom: 40px;
}

.table-responsive {
    min-height: 390px;
}

.table td {
    padding: 10px;
}

#btn_box_list {
    display: flex;
    gap: 10px;
}

#pesquisar-box {
    width: 300px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

#pesquisar-box input {
    width: 255px;
    height: 28px;
    margin: 0;
    border: 2px solid #078b85;
    padding-inline: 11px;
    border-radius: 30px;
}

#pesquisar-box input:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

#pesquisar-box input::placeholder {
    color: #8f8f8f;
}

#pesquisar-box #filtrar, #pesquisar-box #reset {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    right: 1px;
    bottom: 0;
    cursor: pointer;
}

#pesquisar-box #filtrar {
    background-color: #096661;
    border: 2px solid  #078b85;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #e9e9e9;
}

#pesquisar-box #reset {
    border: 0;
    right: 32px;
    background-color: transparent;
    border-top: 2px solid  #078b85;
    border-bottom: 2px solid  #078b85;
}

#pesquisar-box #reset i {
    color: #085751;
}

.btn-sm {
    font-weight: 500;
}

.btn-aniversario {
    background-color: #068ab3;
}

.btn-aniversario:hover {
    background-color: #037a9e;
}

.btn-add {
    background-color: #a8ccb6;
    border-color: #096661;
    color: #096661;
    font-size: 14px;
}

.btn-add:hover {
    background-color: rgb(112, 192, 168)
}

.lista-foto {
    width: 50px;
    margin-top: 5px;
}

.foto-box {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.dados-foto {
    width: 120px;  
}

.btn-gerar-ficha {
    font-size: 13px;
    padding-inline: 15px;
}

#nome {
    font-size: 18px;
    color: #078b85;
}

.btn-editar {
    background-color: #a8ccb6;
    color: #096661;
}

.btn-add:hover, .btn-editar:hover {
    color: #064642;
}

.btn-excluir {
    background-color: #db8e8e;
    color: #912c39;
    border: 0;
}

.btn-excluir:hover {
    background-color: #e08a8a;
    color: #791f2b;
}

.btn-agenda {
    background-color: #69a881 !important;
}

.btn-agenda:hover {
    background-color: #7cc297 !important;
}

.opcao {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}

.pagination li a {
    /* background-color: #a8ccb6; */
    background-color: #c0d4c8;
    /* color: #096661; */
    color: #05534f;
}

.pagination li a:hover:not(.pagination .disabled a:hover), 
.pagination .active a {
    background-color: #0b807a;
    color: #fff;
}


@media (max-width: 340px) {

    .dados-foto {
        width: 90px;  
    }

    .btn-gerar-ficha {
        font-size: 12px;
        padding-inline: 12px;
    }

    .dados h4 {
        font-size: 28px;
    }

}

@media (max-width: 304px) {

    .dados-foto {
        width: 78px;  
    }

    .dados h4 {
        font-size: 25px;
    }

}