{% extends 'cadastros/listas/funcionarios.html' %}

{% load static %}
    
{% block btn_add %}
    {% if not is_medico %}
        <a class="btn btn-add btn-sm" href="{% url 'cadastrar-paciente' %}">
            <i class="fas fa-plus"></i>
            Cadastrar Paciente
        </a>
        <a class="btn btn-aniversario btn-sm" href="{% url 'aniversarios-pacientes' %}">Aniversários</a>
    {% endif %}

    <form action="?" method="GET" {% if is_medico %} style=" width: 100%; margin-top: -43px; margin-bottom: 12px; display: flex; justify-content: center;" {% endif %}>
        <div id="pesquisar-box">
            <input type="search" name="nome" value="{{request.GET.nome}}" placeholder="Pesquise pelo nome..."> 
            <a href="{% if not is_medico %} {% url 'listar-pacientes' %} {% else %} {% url 'listar-pacientes-medico' %} {% endif %}" id="reset">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <button type="submit" id="filtrar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>

{% endblock %}
    
{% block campo3 %}
    <th>CPF</th>
{% endblock %}
{% block opcao %}
    <th>&nbsp; Opções</th>
{% endblock %}

{% block lista %}
    {% for paciente in object_list %}
    <tr> {% if paciente.foto %}
        <td><img class="lista-foto" src="/media/{{paciente.foto}}"></td>
        {% else %}
        <td><img class="lista-foto" src="{% static 'img/perfil-generico.jpg' %}"></td>
        {% endif %}
        <td>{{paciente.nome_completo}}</td>
        <td>{{paciente.cpf}}</td>
        <td>
            &nbsp;<a href="{% url 'dados-paciente' paciente.pk %}" class="btn btn-small btn-dados">Detalhes</a> &nbsp;
            <a href="{% url 'dados_prontuario' paciente.pk %}" class="btn btn-small btn-agenda">Ver Prontuário</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="12">{{aviso}}</td>
    </tr>
    {% endfor %}
{% endblock %}