{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <style>
        
        #consultas-agend-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: -1px;
            padding-top: 10px;
            border-left: 1px solid #7c7c7c;
            border-right: 1px solid #7c7c7c;
        } 

        #consultas-agend-container hr {
            margin-bottom: -1px;
        }

        .consultas-agend {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            padding-inline: 5px;
        }

        .dados-agend {
            display: flex;
            gap: 20px;
            align-self: flex-start;
        }

        .botoes-box {
            align-self: flex-end;
        }

        #agendamento-vazio {
            padding-inline: 5px;
        }

        hr {
            min-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}

    {% block titulo %}
        <h4>Agendamentos</h4> 
    {% endblock %}

    {% block btn_add %}
        <a class="btn btn-add btn-sm" href="{% url 'agendar-consulta' %}">
            <!-- <i class="fas fa-plus"></i> -->
            <i class="material-symbols-outlined">add</i>
            Agendar Consulta
        </a> <hr>
    {% endblock %}
    
    <div id="consultas-agend-container">
        {% for agendamento in object_list %}
        <div class="consultas-agend">
            <div class="dados-agend">
                <p>{{agendamento.data|date:'d/m/Y'}}</p>
                <p>
                <p>Paciente: {{agendamento.paciente.nome_completo}}</p>
                <p>
                <p>Médico: {{agendamento.medico.nome_completo}} ({{agendamento.medico.especialidade.especialidade}})</p>
            </div>
            <div class="botoes-box">
                <a href="{% url 'detalhes_agendamento' agendamento.pk %}" class="btn btn-sm">Detalhes</a>
            </div>
        </div>
        <hr>
        {% empty %}
            <div id="agendamento-vazio">
                {% block vazio %}
                    <p>Ainda não há nenhum agendamento</p>
                {% endblock %}
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}